<section id="video-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="text-center mb-4 mb-md-0">
                            <img class="d-none d-lg-block mx-auto mb-3" src="~/imgs/logo.png" alt="image" style="width: 200px;">
                            <p>
                                Hedeflerimiz arasında genelinde Türkiye’ye, özelinde Isparta’ya katma değer
                                oluşturmayı amaç edindik. Öğrencilerimize artı değerler kazandırarak iş arayan
                                değil, iş için aranan elemanlar yetiştirmeyi, sanayi ile barışık ortak işler
                                yürütebilmeyi, sanayi ve tarım başta olmak üzere tüm sektörlerle iç içe olmayı
                                sağlama yönünde çalışmalar yapmaktayız.
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="ipad-frame">
                            <div class="inner-frame d-flex justify-content-center align-items-center h-100 w-100">
                                <a href="https://youtu.be/4cZTclMlPlk" target="_blank">
                                    <i class="fa-solid fa-circle-play" style="color: #e52710;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>