:root {
    --orange-color: #e52710;
    --dark-color: #373737;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

#sonuclar-section .hr {
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
}

#sonuclar-section .content {
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

#sonuclar-section .kitap-img img {
    width: 100px;
    border-radius: 5px;
}

#sonuclar-section .btn-fazla {
    border-radius: 5px;
    background-color: var(--orange-color);
    transition: all 0.2s linear;
}

#sonuclar-section .btn-fazla:hover {
    background-color: var(--dark-color);
}