:root {
    --orange-color: #e52710;
    --dark-color: #373737;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

#video-section {
    padding-block: 50px;
}

#video-section .ipad-frame {
    background-image: url('/imgs/frame.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 10px !important;
    width: 100%;
    aspect-ratio: 3/2;
    outline: 5px solid rgba(238, 45, 42, 0.667);
    outline-offset: -15px;
}

#video-section .inner-frame {
    background-color: rgba(66, 62, 62, 0.397);
}

#video-section i {
    font-size: 50px;
    aspect-ratio: 1/1;
    opacity: 0.8;
    transition: all 0.4s;
    border-radius: 50%;
}

#video-section i:hover {
    color: white !important;
}

#video-section .btnMore {
    background-color: var(--dark-color);
    border-radius: 5px;
}

#video-section .ipad-frame i {
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes fade {
    0% {
        box-shadow: 0 0 0 25px rgba(229, 39, 16, 0.6);
    }

    50% {
        box-shadow: 0 0 0 0 rgba(229, 39, 16, 0.3);
    }

    100% {
        box-shadow: 0 0 0px 25px rgba(229, 39, 16, 0.6);
    }
}

@media(min-width:992px) {
    #video-section {
        padding-block: 100px;
    }
}