:root {
    --orange-color: #e52710;
    --dark-color: #373737;
    --box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}

body {
    font-family: "Josefin Sans", sans-serif;
}

.kategori-duzelt-section .title {
    font-size: 1.5rem;
}

.kategori-duzelt-section .hr {
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
}

.kategori-duzelt-section .form-container {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.kategori-duzelt-section #upload-container4{
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
.kategori-duzelt-section #upload-container4 span{
    user-select: none;
}

.img-thumbnail {
    max-width: 200px;
}

.kategori-duzelt-section #upload-container4 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.kategori-duzelt-section .plus-icon {
    font-size: 50px;
    color: #aaa;
}

.kategori-duzelt-section .ad-input {
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow: var(--box-shadow);
    width: 300px;
}