:root {
    --orange-color: #e52710;
    --dark-color: #373737;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

#kitap-section .kitap-ad {
    border: 1px solid;
    border-radius: 10px;
}

#kitap-section .aciklama {
    background-color: #eee;
    border-radius: 10px;
}

#kitap-section .btn-al {
    width: fit-content;
    border-radius: 5px;
    background-color: var(--orange-color);
    transition: all 0.2s linear;
}

#kitap-section .btn-al:hover {
    background-color: var(--dark-color);
}