:root {
    --orange-color: #e52710;
    --dark-color: #373737;
    --box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
}

body {
    font-family: "Josefin Sans", sans-serif;
}

.kitap-ekle-section .title {
    font-size: 1.5rem;
}

.kitap-ekle-section .hr {
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
}

.kitap-ekle-section #kitapForm {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.kitap-ekle-section #upload-container2 {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.kitap-ekle-section #upload-container2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.kitap-ekle-section #file-input2 {
    display: none;
}

.kitap-ekle-section .plus-icon {
    font-size: 50px;
    color: #aaa;
}

.kitap-ekle-section .btn-kitap-ekle {
    border: 0;
    border-radius: 5px;
    background-color: var(--orange-color);
    transition: all 0.2s linear;
}

.kitap-ekle-section .btn-kitap-ekle:hover,
.btn-kitap-ekle:hover {
    background-color: var(--dark-color);
}

.kitap-ekle-section .ad-input {
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow: var(--box-shadow);
    width: 300px;
}

.kitap-ekle-section textarea {
    border: 0;
    outline: 0;
    box-shadow: var(--box-shadow);
}

.kitap-ekle-section .btn-dropdown {
    box-shadow: var(--box-shadow);
    outline: 0;
    border: 0;
}

.kitap-ekle-section .btn-dropdown:hover {
    background-color: white;
    outline: 0;
}
