@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using KutuphaneProject.Models;
@model Kategori
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="kategori-duzelt-section py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-xxl-7">
                <h2 class="title text-center">Kategori Düzeltme</h2>
                <div class="hr mb-4"></div>
                <div class="form-container p-4">
                    <div class="d-flex gap-3 gap-lg-5">
                        <form asp-area="Adminler" asp-controller="Admin" asp-action="KategoriDuzelt" class="flex-grow-1" method="post" enctype="multipart/form-data" id="kategoriDuzeltForm">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <div id="upload-container4" class="mb-4 mx-auto">
                                <span class="plus-icon">+</span>
                            </div>
                            <input asp-for="clientFile" class="mb-2" type="file" id="file-input4" accept="image/*">
                            <span asp-validation-for="clientFile" class="text-danger d-block"></span>
                            <span id="typeError" class="text-danger d-none">Lütfen sadece JPEG, PNG formatında bir resim seçin.</span>

                            <label class="mb-1 d-block mt-3">Kategori Adı:</label>
                            <input asp-for="Ad" class="ad-input text-muted w-100 mb-3 p-1" type="text">
                            <span asp-validation-for="Ad" class="text-danger d-block mb-2"></span>

                            <button id="btnDuzelt" class="btn-duzelt btn btn-warning text-white" type="submit">Düzelt</button>
                        </form>
                        <div class="mb-4 mx-auto d-none d-md-block">
                            <img class="img-thumbnail" src="@Model.ImageSrc" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .swal-custom-success-button {
        background-color: green !important;
        color: white !important;
        border: none !important;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.getElementById("kategoriDuzeltForm").addEventListener("submit", function (event) {
            const fileInput = document.getElementById("file-input4");
            const file = fileInput.files[0];

            if (file) {
                const allowedTypes = ["image/jpeg", "image/png", "image/gif"];
                if (!allowedTypes.includes(file.type)) {
                    document.getElementById("typeError").classList.replace("d-none","d-block");
                    event.preventDefault(); // Form gönderimini durdur
                    return;
                }
                document.getElementById("typeError").classList.add("d-none");
            }
        });
    </script>

    @if (TempData["SuccessMessage"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: 'Başarılı!',
                html: '@Html.Raw(TempData["SuccessMessage"])',
                confirmButtonText: 'Tamam',
                customClass: {
                    confirmButton: 'swal-custom-success-button'
                }
            });
        </script>
    }
}
